@import url(https://fonts.googleapis.com/css?family=Libre+Franklin);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
    top: 0;
    z-index: 99;
    position: fixed;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 2px solid black;
}

.logo {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

#logo-pic {
    width: 200px;
    height: 75px;
    padding: 0;
    margin: 0;
}

.right-links {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding-right: 30px;
}

.bigger {
    font-family: "Libre Franklin";
}

.section-one {
    height: 500px;
    display: flex;
    flex: 1;
    margin: 85px 0 0 0;
}

.hero {
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 25px;
    flex: 1 0;
    color: black;
    margin: 20px; 
}

.hero-info {
    width: 450px;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex: 0 1 auto;
    gap: 20px;
}

.hero-header {
    font-size: 30px;
    font-weight: bolder;
}

.hero-text {
    font-size: 15px;
    padding-bottom: 10px;

}

#hero-list {
    display: flex;
    flex-direction: column;
}

.hero-item {
    display: flex;
    background-color: bisque;
    align-items: center;
    gap: 10px;

}

#key-icon {
    width: 25px;
    height: 25px;
}

#control-icon {
    width: 25px;
    height: 25px;
}

#headset-icon {
    width: 25px;
    height: 25px;
}

#hero-button {
    border-radius: 25px;
    border: 1px solid black; 
    width: 125px;
    font-weight: 200;
    background-color: transparent;
    flex: 0 0 auto;
    padding: 10px 0;
    align-self: flex-start;
    margin-right:10px;
}


#consult-img {
    display: flex;
    height: auto;
    border-radius: 8px;
    flex: 1;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    border-radius: 8px;
    margin: 15px 0;
    flex: 1 0;
    background-color: bisque;
}

.title-header {
    font-size: 30px;
    font-weight:bolder;
    color: black;
    flex: 1 0 auto;
    border-bottom: 2px solid #4c504f;
    padding-bottom: 15px;
    margin-bottom: 45px;
}

.title-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 0;
    padding: 0 10px;
    margin-top: 40px;
    gap: 40px;
}

.card-group {
    display: flex;
    justify-content: space-around;
    flex: 1 0;
    gap: 50px;
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 0 150px;
}

.card-img {
    display: flex;
    height: 75px;
    justify-content: center;
}

.card-img img {
    width: auto;
    height: 100%;
}

.card {
    display: flex;
    flex: 1 0;
    
}

.card-header {
    font-size: 24px;
    flex: 1 0;
}

.card-text {
    font-weight: lighter;
    color: #414645;
    flex: 1 0;
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
}
#holder {
    display: flex;
    justify-content: between;
    flex-wrap: wrap;
    padding: 30px 75px;
    gap: 45px;
}

.quote-box {
    height: 100%;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
    
}

.quote-text {
    width: 100%;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    color: #414645;
    padding-bottom: 5px;
    flex: 1 0;

}

.quote-author {
    font-size: 24px;
    font-weight: bolder;
    padding-right: 30px;
}

.action {
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    gap: 15px;
    border-radius: 8px;
    justify-content: space-evenly;
    padding: 30px 0 30px 10px;

}

.action-info {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0;
    gap: 15px;
    padding: 0 15px;
}

.action-header {
    font-size: 24px;
    font-weight: bold;

}

.action-text {
    font-size: 18px;
    font-weight: lighter;

}

.button-two {
    display: flex;
    flex: 1 0;
    align-items: center;
    width: 200px;
    justify-content: center;
}


.footer {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    flex: 1;
}

.footer-text {
    color: black;
    padding: 25px 0;
}

ul {
    margin: 0;
    padding: 0;
    width: auto;
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a {
    color: black;
    text-decoration: none;
}

#action-button {
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid black;
    width: 125px;
    font-weight: 200;
    background-color: transparent;
    padding: 10px 0;
}