@import url(https://fonts.googleapis.com/css?family=Roboto-Flex);

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 150px 0 150px;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.right-links {
    display: flex;
    justify-content: flex-end;
}

.title {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.subsection {
    display: flex;
    flex-direction: column;
    flex: 0 1 450px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.subheading {
    flex: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #F9FAF8;
    padding-bottom: 10px;
    flex: 0 1;
}

#button-one {
    border-radius: 8px;
    border: 0px;
    width: 125px;
    font-weight: 200;
    background-color: #3882f6;
    color:#F9FAF8;
    flex: 1 0 auto;
    padding: 10px 0;
    
}

.img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 255px;
    background-color: #5c6b80;
    flex: 1 1 auto;
    color:#F9FAF8;
}

.content-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 150px 75px 150px;
}

.header-box {
    width: 600px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    flex: 1 0 auto;
    padding-bottom: 45px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 25px;
    gap: 60px;
}

.section {
    display: flex;
    justify-content: center;
    width: 360px;
    gap: 60px;
}
.cards {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.card {
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.card-text {
    width: 150px;
    font-weight: lighter;
    padding: 25px 0;
    text-align: center;
}

.quote {
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    flex-grow: 1;
}

.single {
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    padding-bottom: 5px;

}

.author {
    font-size: 24px;
    font-weight: bolder;
    align-self: flex-end;
    padding-right: 30px;
}

.action {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.box {
    width: 1000px;
    display: flex;
    flex: 1 1;
    background-color: #3882f6;
    border-radius: 8px;
    justify-content: space-around;
    height: 100px;
    padding: 30px 60px;
    margin: 0 30px;
}

.information {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2 0;
}

.info-head {
    width: 400px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;

}

.info-text {
    width: 400px;
    font-size: 20px;
    font-weight: light;
    color: #F9FAF8;

}

.button {
    display: flex;
    flex: 1 0;
    align-items: center;
    width: 200px;
    justify-content: center;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    flex: none;
}

.footer-text {
    color: #F9FAF8;
    padding: 25px 0;
}

ul {
    margin: 0;
    padding: 0;
    width: auto;
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

#button-two {
    font-size: 22px;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    width: 125px;
    font-weight: 200;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 10px 0;
}